.App {
  text-align: center;
}

.user-list {
  max-width: 900px;
  margin: 50px auto auto;
  text-align: left;
  padding: 0 20px;
}

.user-list-title {
  background-color: lightseagreen;
}

.user-list-title-item-row {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.user-list-title-item-column {
  padding: 10px 0;
  width: 100px;
}

.user-list-body {
  padding-left: 10px;
}

.user-item {
  padding: 10px 0;
  width: 100px;
  text-align: left;
}

.user-list-item-row {
  display: flex;
  justify-content: space-between;
}
